*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;

}
header{
    height: 100px;
    background-color: rgb(92, 8, 8, 0.9);
    width: 100%;
    z-index: 12;
    position: fixed;

}


.logo{
    width: 30%;
    float: left;
    line-height: 100px;
    
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodleftling;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);

}
nav{
    float: right;
    line-height: 100px;
    

}
nav a{
    text-decoration: none;
    font-family: bignoodleftling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: rgb(255, 255, 255);

}
nav a:hover{
    color: rgb(165, 163, 18);
}






.banner-area {
    width: -webkit-fill-available;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(../img/pexels-dzenina-lukac-1005012.jpg);
    -webkit-background-size: cover;
    background-position: center center;

}

.banner-area h2{
    padding-top: 8%;
    font-size: 70%;
    font-family: poppins;
    text-transform: uppercase;
    color: #ddd;


}

.content-area p {
    /* margin-top: 22vh; */
    font-size: 23px;
    color: #732a2a;
    font-family: "Brush Script MT", cursive;
}
.content-area{
    width: 203vh;
    position: relative;
    top: 450px;
    background: #ddd;
    height:  -webkit-fill-available;

}

img.col-6 {
    margin: 4vh 50vh;
}

.content-area h2{
    font-family: bignoodleftling;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;

}
.content-area h1{
    font-family: bignoodleftling;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;

}



.loading {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-transform:uppercase;
    
    width:150px;
    text-align:center;
    line-height:37px;
    
    position:absolute;
    left:0;right:0;top: 48%;;
    margin:auto;
    transform:translateY(-50%);
  }
  
  .loading span {
    position:relative;
    z-index:999;
    color:rgb(0, 0, 0);
    
  }
  .loading:before {
    content:'';
    background:#E4AA4A;
    width:128px;
    height:36px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    
    animation:2s loadingBefore infinite ease-in-out;
  }
  
  @keyframes loadingBefore {
    0%   {transform:translateX(-14px);}
    50%  {transform:translateX(14px);}
    100% {transform:translateX(-14px);}
  }
  
  
  .loading:after {
    content:'';
    background:#421003;
    width:14px;
    height:60px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    opacity:.5;
    
    animation:2s loadingAfter infinite ease-in-out;
  }
  
  @keyframes loadingAfter {
    0%   {transform:translateX(-50px);}
    50%  {transform:translateX(50px);}
    100% {transform:translateX(-50px);}
  }
